html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style:normal;
    font-weight: normal;
    margin: 0;
    overflow-y: scroll;
}
body::-webkit-scrollbar {
    width: 16px;
}
body::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: #30d5c8;
    border: 3px solid transparent;
    background-clip: content-box;
}
body::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.9);
}
img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
p {
    margin: 0;
}

/* Header */

header {
    z-index: 1;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}
.container {
    max-width: 1250px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
}
.cont_navi {
    display: flex;
    align-items: center;
}
.logo {
    width: 120px;
    display: inline-block;
}
.menu {
    margin-left: auto;
}
.menu_link {
    line-height: 21px;
    color: white;
    text-decoration: none;
    margin: 0 17px;
    transition: color .4s ease;
}
.menu_link:hover {
    color: #30d5c8;
}
.menu_welcome {
    color: #30d5c8;
    cursor: default;
}
.btn {
    background: transparent;
    color: #30d5c8;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border-radius: 30px;
    font-weight: 500;
    font-size: 20px;
    min-width: 132px;
    padding: 12px 36px;
    border: 3px solid #30d5c8;
    transition: background .4s ease, color .4s ease;
    cursor: pointer;
    outline: 0;
}
.btn:hover {
    color: white;
    background: #30d5c8;
}
.button {
    margin-left: 18px;
}

/* Intro */

.intro {
    background: url('../img/img_intro/intro_bg.jpg') no-repeat center;
}
.intro_content {
    height: 750px;
    display: flex;
    align-items: center;
}
.intro_title {
    max-width: 790px;
    font-size: 50px;
    font-weight: 700;
    color: white;
    line-height: 1.5;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

/* Info */

.info {
    background: url('../img/pattern.png') repeat center;
    background-attachment: fixed;
    position: relative;
}
.info_content {
    height: 750px;
    padding-top: 40px;
}
.block_title {
    font-size: 31px;
    margin-bottom: 65px;
    letter-spacing: 0.15em;
}
.event_wrapper {
    display: flex;
    margin: 0 -10px;
}
.event_block {
    width: 33.33%;
    padding: 0 10px;
}
.event_item {

}
.event_item:hover .event_content_item {
    opacity: 1;
}
.event_item:hover .event_content:after {
    opacity: .5;
}
.event_content {
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover; 
    margin-bottom: 20px;
    position: relative;
}
.event_content:after {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    transition: opacity .3s ease;
}
.event_content_item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
    transition: opacity .3s ease;
}
.event_img {
    width: 100px;
    height: 100px;
    background-color: #30d5c8;
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.event_img_img {
    width: 70px;
    height: 70px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.event_text {
    font-size: 18px;
    font-weight: 600;
    color: white;
    letter-spacing: 0.23em;
    position: absolute;
    left: 30px;
    bottom: 20px;
    max-width: 270px;
}
.event_title {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.23em;
}

/* History */

.history {
    background: url('../img/img_history/history_bg.jpg');
}
.history_content {
    height: 720px;
    padding-top: 40px;
}
.history_title {
    font-size: 20px;
    letter-spacing: 0.15em;
    color: white;
    margin-bottom: 60px;
}
.history_content_item {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    margin-left: auto;
    position: absolute;
    width: 100%;
    left: 0;
}
.history_par {
    color: white;
    font-size: 18px;
    max-width: 750px;
    padding-right: 90px;
    margin-left: 140px;
}
.history_img {
    max-width: 400px;
}

/* Heroes */

.hrs {
    background: url('../img/pattern.png') repeat center;
    background-attachment: fixed;
}
.hrs_content {
    height: 540px;
    padding-top: 40px;
}
.hrs_title {
    font-size: 31px;
    letter-spacing: 0.15em;
    color: black;
    margin-bottom: 65px;
}
.opit_content {
    height: 330px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow_box {
    width: 175px;
    height: 330px;
    display: flex;
    align-items: center;
}
.arrow_box_left {
    box-shadow: 5px 0 5px -5px rgba(0, 0, 0, .5);
}
.arrow_box_right {
    box-shadow: -5px 0 5px -5px rgba(0, 0, 0, .5);
}
.arrow {
    width: 175px;
    height: 200px;
    opacity: .9;
}
.opit_scroll {
    width: 900px;
    height: 330px;
    display: flex;
    overflow-x: auto;
}
.opit_scroll::-webkit-scrollbar {
    display: none;
}
.card_content {
    min-width: 280px;
    margin-right: 10px;
}
.card_content_item {
    width: 280px;
    height: 280px;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 50%;
    opacity: 0;
    display: flex;
    align-items: center;
    border: 4px solid #30d5c8;
    transition: opacity .3s ease;
}
.card_content_item:hover {
    opacity: 1;
}
.card_icon {
    min-height: 280px;
    border-radius: 50%;
    margin-bottom: 10px;
    background-size: cover;
}
.card_text {
    font-size: 25px;
    font-weight: 600;
    color: black;
    position: relative;
    left: 20px;
}

/* Teams */

.tms_content {
    height: 500px;
    width: 100%;
}
.tms_content_item {
    height: 100%;
    width: 100%;
    display: flex;
}
.tms_text {
    height: 100%;
    width: 50%;
    color: white;
}
.tms_text_right {
    color: #000;
}
.tms_text_title {
    padding-top: 80px;
    padding-left: 100px;
    padding-bottom: 15px;
    letter-spacing: 0.1em;
}
.tms_text_par {
    padding-left: 100px;
    padding-right: 90px;
    font-size: 21px;
    font-weight: 500;
}
.tms_bg {
    height: 100%;
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.tms_bg_click {
    width: 100%;
    height: 100%;
}

/* Contacts */

.contacts {
    padding: 100px 0;
    background-color: rgba(0, 0, 0, 0.9);
}
.contacts_title {
    color: white;
    margin-bottom: 40px;
    font-size: 31px;
    letter-spacing: 0.15em;
}
.contacts_form {
   max-width: 440px; 
}
.form_row {
    display: flex;
    margin: 0 -20px;
}
.form_group {
    padding: 0 20px;
    flex: 1;
    position: relative;
    margin-bottom: 30px;
}
.input {
    width: 100%;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    padding: 10px 0;
    color: white;
    font-size: 15px;
    font-family: inherit;
}
.input:focus + .label{
    transform: translateY(-15px);
    font-size: 15px;
}
.input:not(:placeholder-shown) + .label {
    transform: translateY(-15px);
    font-size: 15px;
}
.label {
    letter-spacing: 0.15em;
    color: white;
    position: absolute;
    top: 10px;
    left: 20px;
    pointer-events: none;
    transition: all .2s ease;
}
.textarea {
    min-height: 130px;
    width: 100%;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    padding: 10px 0;
    color: white;
    font-size: 15px;
    font-family: inherit;
    resize: vertical;
}
.textarea:focus + .label{
    transform: translateY(-15px);
    font-size: 15px;
}
.textarea:not(:placeholder-shown) + .label {
    transform: translateY(-15px);
    font-size: 15px;
}
.contacts_btn {
    text-transform: uppercase;
}

/* Footer */

.footer {
    
}
.footer_wrapper {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.copyright {
    letter-spacing: 0.15em;
}
.footer_soc {
    display: flex;
}
.footer_soc_link {
    margin-right: 20px;
    text-decoration: none;
    width: 30px;
    height: 30px;
}
.footer_soc_link:last-child {
    margin-right: 0;
}
